- content_for :title do 
  OnlineCourses101
  \|
  Edit
  = @enrollement

.card
  .card-header
    %h3
      .text-warning.fa.fa-star
      Add a review
  .card-body
    = render 'form'
  .card-footer
    = link_to "Show review", @enrollement
    |/
    = link_to 'Back to course', course_path(@enrollement.course)
