- content_for :title do 
  OnlineCourses101
  \|
  Edit
  = @enrollement

.card
  .card-header
    %h3
      .fa.fa-lock-open
      edit enrollements
  .card-body
    = render 'form'
  .card-footer
    = link_to 'Back', enrollements_path
