- content_for :title do 
  OnlineCourses101
  \|
  New enrollement

.card
  .card-header
    %h3
      .fa.fa-lock-open
      new enrollements
  .card-body
    = render 'form'
  .card-footer
    = link_to 'Back', enrollements_path
