- content_for :title do 
  OnlineCourses101
  \|
  New enrollement

.card
  .card-header
    %h3
      .fa.fa-lock-open
      new enrollements
      = link_to @course.title, course_path(@course) 
  .card-body
    = render 'form'
  .card-footer
    = link_to 'Back', enrollements_path
