.card
  .card-header
    %h1 Editing Lesson
  .card-body
    = render 'form'  
  .card-footer 
    = link_to 'Show', course_lesson_path(@course, @lesson)
    \|
    = link_to 'Back', course_path(@lessons.course)
